# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# ==========================================
# VIRTUAL ENVIRONMENTS
# ==========================================
venv/
env/
ENV/

# ==========================================
# ENV FILES
# ==========================================
.env
.env.*

# ==========================================
# DJANGO
# ==========================================
db.sqlite3
*.sqlite3
media/
staticfiles/

# ==========================================
# LOGS
# ==========================================
*.log

# ==========================================
# FRONTEND / NODE
# ==========================================
node_modules/
frontend/node_modules/

# Build folders
dist/
build/
frontend/dist/

# Vite
.vite/

# ==========================================
# TEST / CACHE
# ==========================================
.pytest_cache/
.mypy_cache/
.coverage
coverage/
htmlcov/

# ==========================================
# IDE
# ==========================================
.vscode/
.idea/

# ==========================================
# OS FILES
# ==========================================
.DS_Store
Thumbs.db